[buildout]
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
develop = .
parts =
  test
  omelette
extensions =
  buildout.dumppickedversions
  mr.developer

[versions]
grokcore.registries =
grokcore.component =

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[test]
recipe = zc.recipe.testrunner
eggs =
    grokcore.registries
    grokcore.registries [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '--auto-color']
